body {
    width: 100%;
    margin: 0px;
}

p {
    color: gray;
}

.main {
    width: 1440px;
    margin: auto;
    background-color: #999999;
}

.head {
    width: 1440px;
    height: 726px;
    margin: auto;
    background-image: url("../img/1.png");
}

.nav-bar {
    display: flex;
    width: 1128px;
    height: 24px;
    /*background-color: pink;*/
    padding-left: 150px;
    padding-top: 37px;
    color: #FFFFFF;
}

.creative-team {
    min-width: 99px;
    max-width: 22px;
    margin-right: 624px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    /*text-align: center;*/
    color: #FFFFFF;
}

.component {
    margin-right: 30px;
}

.down {
    min-width: 150px;
}

.social-networks {
    display: flex;
}

.social-n-icon {
    margin-right: 24px;
}

.fa-cloud-download-alt {
    margin-right: 5px;
}

.header {
    width: 549px;
    height: 304px;
    margin-left: 149px;
    margin-top: 207px;
    color: #FFFFFF;
    /*background-color: pink;*/
}

.headline {
    width: 530px;
    height: 125px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 500;
    font-size: 53.2px;
    line-height: 62px;
}

.description {
    width: 549px;
    height: 72px;
    margin-top: 11px;
    font-style: normal;
    font-weight: normal;
    font-size: 18.2px;
    line-height: 21px;
}

.video-button {
    width: 179px;
    height: 54px;
    margin-top: 42px;
    color: #F8F8FF;
    border: none;
    background: #F44336;
    box-shadow: 0px 2px 2px rgba(244, 67, 54, 0.14);
    border-radius: 3px;
}

.video-button:hover {
    background: #dc3432;

}

.video-button-arrow {
    width: 15px;
    height: 18px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.content {
    width: 1380px;
    height: 2045px;
    margin: -50px auto auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.14), 0px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.topic {
    width: 277px;
    height: 43px;
    padding-top: 95px;
    padding-left: 552px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36.4px;
    line-height: 43px;
    color: #3C4858;
}

.info {
    width: 723px;
    height: 70px;
    margin-left: 331px;
    margin-top: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17.5px;
    line-height: 21px;
    text-align: center;
    color: #999999;
}

.cards {
    display: flex;
    margin-top: 161px;
    margin-left: 138px;
}

.card {
    width: 328px;
    height: 201px;
    margin-right: 62px;
    /*background-color: pink;*/
}

.img-card-one {
    background-image: url("../img/2.png");
    margin-left: 125px;
    width: 80px;
    height: 80px;
}

.img-card-two {
    background-image: url("../img/3.png");
    width: 80px;
    height: 80px;
    margin-left: 125px;
}

.img-card-three {
    background-image: url("../img/4.png");
    width: 80px;
    height: 80px;
    margin-left: 125px;
}

.head-card {
    /*width: 113px;*/
    height: 24px;
    margin-top: 31px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #3C4858;
}

.text-card {
    width: 328px;
    height: 58px;
    margin-top: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #999999;
}

.team {
    width: 1133px;
    height: 541px;
    margin-left: 125px;
    margin-top: 208px;
    /*background-color: lavender;*/
}

.head-team {
    width: 268px;
    height: 43px;
    margin-left: 430px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36.4px;
    line-height: 43px;
    /* identical to box height */

    color: #3C4858;
}

.card-team {
    width: 352px;
    height: 412px;
    margin-right: 38px;
    /*background-color: papayawhip;*/
}

.avatar {
    width: 170px;
    height: 170px;
    margin: auto;
    border-radius: 100px;
    background: url(../img/Gigi-Hadid-01.jpg), #C4C4C4;
    box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.3), 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.avatar-two {
    width: 170px;
    height: 170px;
    margin: auto;
    border-radius: 100px;
    background: url(../img/men.jpg), #C4C4C4;
    box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.3), 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.avatar-three {
    width: 170px;
    height: 170px;
    margin: auto;
    border-radius: 100px;
    background: url(../img/images.jpg), #C4C4C4;
    box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.3), 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.name {
    width: 85px;
    height: 22px;
    margin: 32px auto auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18.2px;
    line-height: 21px;

    color: #3C4858;
}

.name-two {
    width: 160px;
    height: 22px;
    margin: auto;
    margin-top: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18.2px;
    line-height: 21px;
    /* identical to box height */

    color: #3C4858;
}

.name-three {
    width: 122px;
    height: 22px;
    margin: auto;
    margin-top: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18.2px;
    line-height: 21px;
    /* identical to box height */

    color: #3C4858;
}

.profession {
    width: 39px;
    height: 16px;
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13.65px;
    line-height: 16px;
    /* identical to box height */

    color: #777777;
}

.profession-d {
    width: 55px;
    height: 16px;
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13.65px;
    line-height: 16px;
    /* identical to box height */

    color: #777777;

}

.biography {
    width: 352px;
    height: 123px;
    margin-top: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #999999;
}

.social-networks-team {
    display: flex;
    margin-top: 55px;
    margin-left: 135px;
}

.social-networks-team-d {
    display: flex;
    margin-top: 55px;
    margin-left: 158px;
}

.social-n-icon-team {
    margin-right: 24px;
}

.team-wrapper {
    display: flex;
    margin-top: 86px;
}

.work {
    width: 753px;
    height: 423px;
    margin: auto;
    margin-top: 185px;

}

.head-work {
    width: 209px;
    height: 43px;
    padding-bottom: 10px;
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36.4px;
    line-height: 43px;
    color: #3C4858;
}

.social-networks-team {
    display: flex;
    margin-top: 15px;
    margin-left: 135px;
}

.social-networks-team-d {
    display: flex;
    margin-top: 15px;
    margin-left: 158px;
}

.info-work {
    width: 753px;
    height: 72px;
    margin-top: 38px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18.2px;
    line-height: 21px;
    text-align: center;
    color: #999999;
}

.prof-wrapper {
    display: flex;
    margin-top: 36px;
}


.head-prof-name {
    width: 50px;
    height: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    color: #9C27B0;
}

.head-u-message {
    width: 68px;
    height: 12px;
    margin-left: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #9C27B0;
}

.prof-name {
    width: 361px;
    height: 25px;
    margin-right: 32px;

    border: 0px solid;
    border-bottom: 1px solid gray;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #999999;
}

.email {
    width: 361px;
    height: 25px;
    border: 0px solid;
    border-bottom: 1px solid gray;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #999999;
}

.message {
    margin-top: 38px;
}

.u-message {
    width: 751px;
    height: 92px;
    border: 0px solid;
    padding-top: 0px;
    border-bottom: 1px solid gray;
}

.button {
    width: 148px;
    height: 41px;
    border: none;
    margin-left: 301px;
    margin-top: 25px;
    background: #9C27B0;
    box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
    border-radius: 3px;
    color: #FFFFFF;
}

.button:hover {
    background: #802594;
}

.footer {
    display: flex;
    background-color: #999999;
    width: 1440px;
    height: 65px;
    margin: auto;
}

.footer-wrapper {
    display: flex;
    margin-top: 32px;
    margin-left: 165px;
    width: 1122px;
    height: 17px;
}

.creat-tim {
    width: 79px;
    height: 15px;
    margin-right: 33px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #333333;
}

.licenses {
    width: 55px;
    height: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #333333;
}

.about-us {
    width: 57px;
    height: 15px;
    margin-right: 33px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #333333;
}

.blog {
    width: 31px;
    height: 15px;
    margin-right: 33px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #333333;
}

.lice {
    width: 228px;
    height: 17px;
    margin-left: 573px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    text-align: center;
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

.a-header {
    text-decoration: none;
    color: #FFFFFF;
}

.a-header:hover {
    color: #F44336;

}

.a-content {
    color: #999999;
}

a:hover {
    color: #9C27B0;

}

@media only screen and (max-width: 600px) {

    html, body {
        overflow-x: hidden;
    }

    .main {
        width: 375px;
    }

    .head {
        width: 375px;
        height: 426px;
        margin: auto;
        background-image: url("../img/1.png");
    }

    .headline {
        width: 320px;
        height: 55px;
        margin: auto;
        font-style: normal;
        font-family: Roboto;
        font-weight: 100;
        font-size: 21.2px;
        line-height: 62px;
    }

    .header {
        width: 375px;
        height: 304px;
        margin-left: 0px;
        margin-top: 107px;
        color: #FFFFFF;
    }


    .nav-bar {
        display: flex;
        flex-direction: column;
        width: 375px;
        height: 24px;
        padding-left: 35px;
        padding-top: 19px;
        color: #FFFFFF;
    }

    .creative-team {
        padding-bottom: 8px;
    }

    .component {
        padding-bottom: 8px;
    }

    .down {
        padding-bottom: 8px;
    }

    .description {
        width: 330px;
        height: 72px;
        margin: 11px auto auto;
        font-style: normal;
        font-weight: normal;
        font-size: 18.2px;
        line-height: 21px;
    }

    .video-button {
        width: 179px;
        height: 54px;
        margin-left: 100px;
        margin-top: 48px;
        color: #F8F8FF;
        border: none;
        background: #F44336;
        box-shadow: 0px 2px 2px rgba(244, 67, 54, 0.14);
        border-radius: 3px;
    }


    .content {
        width: 375px;
        height: 3060px;
        margin: -60px auto auto;
        background: #FFFFFF;
        box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.14), 0px 8px 10px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
    }

    .topic {
        width: 277px;
        height: 43px;
        margin: auto;
        padding-top: 95px;
        padding-left: 11px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36.4px;
        line-height: 43px;

        color: #3C4858;
    }


    .team-wrapper {
        display: flex;
        flex-direction: column;

        margin-top: 36px;
    }

    .info {
        width: 360px;
        height: 70px;
        margin: auto;
    }

    .cards {
        display: flex;
        flex-direction: column;
        margin-top: 161px;
        margin-left: 1px;
    }


    .card {
        width: 328px;
        height: 201px;
        margin: auto;
        margin-bottom: 35px;
    }

    .team {
        width: 375px;
        height: 541px;
        margin-left: 0px;
        margin-top: 18px;
    }

    .head-team {
        width: 268px;
        height: 43px;
        margin: auto;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36.4px;
        line-height: 43px;
        color: #3C4858;
    }

    .card-team {
        width: 352px;
        height: 412px;
        padding-top: 20px;
        margin: auto;
        /* margin-right: 38px; */
        /* background-color: papayawhip; */
    }

    .work {
        width: 375px;
        height: 423px;
        margin: auto;
        margin-top: 845px;
    }

    .prof-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 55px;
    }

    .info-work {
        width: 353px;
        height: 72px;
        margin: auto;
        /*padding-top: 50px;*/
        padding-bottom: 10px;
    }

    .profile {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .head-prof-name {
        padding-left: 12px;
    }

    .prof-name {
        padding-left: 12px;
    }

    .head-prof-name {
        padding-left: 12px;

    }

    .email {
        padding-left: 12px;
    }

    .u-message {
        width: 370px;
        height: 92px;
        border: 0px solid;
        padding-top: 0px;
        padding-left: 12px;
        border-bottom: 1px solid gray;
    }

    .head-u-message {
        padding-left: 12px;
        margin-left: 0px;
    }

    .button {
        margin-left: 125px;
    }

    .biography {
        margin-top: 15px;
    }

    .footer {
        display: flex;
        width: 375px;
        height: 175px;
        background-color: #999999;

        margin: auto;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        width: 1122px;
        height: 17px;
        margin: auto;
        margin-top: 32px;
    }

    .lice {
        width: 375px;
        height: 17px;
        margin-left: 45px;
        margin-top: 15px;
        font-family: FontAwesome;
        font-size: 15px;
    }

    .creat-tim {
        margin-left: 35px;

        margin-bottom: 10px;
    }

    .licenses {
        margin-left: 35px;

        margin-bottom: 10px;

    }

    .about-us {
        margin-left: 35px;

        margin-bottom: 10px;

    }

    .blog {
        margin-left: 35px;

        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 800px) {

    html, body {
        overflow-x: hidden;
        background-color: #999999;
    }

    .head {
        width: 768px;
        height: 597px;
        margin: auto;
        background-image: url("../img/1.png");
    }

    .main {
        width: 768px;
        margin: auto;
        background-color: #999999;
    }

    .nav-bar {
        width: 768px;
        height: 67px;
        padding-left: 24px;
        background: rgba(0, 0, 0, 0.4);
    }

    .creative-team {
        min-width: 99px;
        max-width: 22px;
        margin-right: 245px;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }

    .header {
        width: 716px;
        height: 302px;
        margin-left: 24px;
        margin-top: 107px;
        color: #FFFFFF;
    }

    .content {
        width: 748px;
        height: 3192px;
        margin: -50px auto auto;
        background: #FFFFFF;
        box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.14), 0px 8px 10px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
    }

    .topic {
        width: 277px;
        height: 43px;
        padding-left: 236px;
    }

    .info {
        width: 723px;
        height: 70px;
        margin-left: 13px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 17.5px;
        line-height: 21px;
        text-align: center;

        color: #999999;
    }

    .cards {
        display: flex;
        flex-direction: column;
        margin-top: 161px;
        margin-left: 1px;
    }


    .card {
        width: 328px;
        height: 201px;
        margin: auto;
        margin-bottom: 35px;
    }

    .head-team {
        width: 268px;
        height: 43px;
        margin: auto;
        font-family: Roboto;
        margin-left: 241px;

        font-style: normal;
        font-weight: normal;
        font-size: 36.4px;
        line-height: 43px;
        color: #3C4858;
    }

    .team {
        width: 713px;
        height: 1100px;
        margin-left: 0px;
        margin-top: 108px;
        /*background-color: lavender;*/
    }

    .team-wrapper {
        display: flex;
        flex-direction: column;

        margin-top: 36px;
    }

    .card-team {
        width: 713px;
        height: 370px;

        margin-right: 19px;
        /*background-color: papayawhip;*/
    }

    .biography {
        width: 713px;
        height: 81px;

        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        padding-left: 19px;
        color: #999999;
        margin-top: 15px;
    }

    .social-networks-team {
        margin-left: 295px;
    }

    .social-networks-team-d {
        margin-left: 314px;
    }

    .work {
        width: 716px;
        height: 500px;
        margin-top: 192px;
    }

    .info-work {
        width: 709px;
        height: 72px;

        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18.2px;
        line-height: 21px;
        text-align: center;
    }

    .prof-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 55px;
    }

    .u-message {
        width: 716px;
        height: 92px;
    }

    .email {
        width: 716px;
        height: 38px;
    }

    .prof-name {
        width: 716px;
        height: 38px;
    }

    .profile {
        padding-bottom: 40px;
    }

    .message {
        margin-top: 0px;
    }

    .footer {
        display: flex;
        background-color: #999999;
        width: 1440px;
        height: 117px;
        margin: auto;
    }

    .footer-wrapper {
        width: 559px;
        height: 62px;
        display: flex;
        margin-top: 32px;
        margin-left: 39px;

    }

    .lice {
        width: 228px;
        height: 17px;
        margin-left: 1px;
        margin-top: 45px;
    }

}
